

/* ----------------Main--------------------*/

li,
.app-nav-buttons,
header,
.stock-data,
.up-down-buttons
{
  display: flex;
}

.app{
height:819px;
background-color: #ffffff;
border: solid rebeccapurple 1px;
}

main ul li{
border: solid 1px #e5e5e5;
padding-left: 29px;
justify-content: space-between;
padding-right: 36px;
}

main ul{
padding: 0;
}


/* ----------------Header--------------------*/

header{
  margin: 47px 30px 0px 29px;
  justify-content: space-between;
}

.stokr-header {
  width: 166px;
  height: 46px;
  font-family: LucidaGrande;
  font-size: 39px;
  font-weight: bold;
  color: #41bf15;
}

.app-nav-buttons button{
  margin-right: 23px;
  background-color: white;
  border: none;
  padding: 0;
}
.app-nav-buttons button img{
  width: auto;
  height:44px;
}


/* ----------------Stock data--------------------*/

.stock-data{
  align-items: center;
}

.symbol-and-name{
  width: 465px;
  height: 45px;
  font-family: Avenir;
  font-size: 33px;
  font-weight: 300;
  color: #59737c;
}

.price{
  /*width: 99px;*/
  height: 35px;
  font-family: HelveticaNeueW01-55Roman;
  font-size: 30px;
  color: #59737c;
  margin-right: 31px;
}
.change{
  margin-right: 31px;
  width: 150px;
  height: 56px;
  border-radius: 10px;
  font-family: Avenir;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  border-style: none;

}

.change-minus{
  background-color: #ff4f46;
}

.change-plus{
  background-color: #63da39;
}

/* ---------------Up Down Buttons---------------------*/


.up-down-buttons{
  flex-direction: column;
}

.up-down-buttons .icon-arrow{
  background-color: white;
  padding: 0;
  border: none;
}
.icon-arrow:before {
  font-size: 1.5rem;
  color: #ababab;
}

.up-down-buttons .icon-arrow[disabled="true"]:before{
  color: rgba(171, 171, 171, 0.2);
}

.down-button.icon-arrow:before{
  vertical-align: top;
}

.up-button.icon-arrow:before{
  vertical-align: bottom;
}


.down-button{
  transform: rotate(180deg);
}



